<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="indices-colleccion.html">
Access-Control.Allow-Origin : *
Access-Control.Allow-Headers : *

<dom-module id="banxico-view">
    <template>
        <style>
            :host {
                display: block;
            }
            paper-button{
              background-color: var(--paper-pink-a200);
              color: white !important;
              padding: 1em;
              margin: 1em;

          }
        </style>

        <div class="container">

            <div class="row">
                <h2> Casos reportados COVID por mes CDMX</h2>
                <p>Fuente: <a href="https://datos.cdmx.gob.mx/api/v2/console">https://datos.cdmx.gob.mx/api/v2/console</a></p>
                
            </div>

            <div class="container">
                <div class="row">
                    <paper-button  raised on-tap="getIndices">  Consuta Datos CDMX</paper-button> 
                </div>
            </div>

            <div class="layout horizontal">
                <indices-colleccion class="iron-flex" colleccion="{{arrayCovid}}"></indices-collection>
            </div>

        </div>

        <iron-ajax auto 
            id="ajaxBanxico" 
            method="GET"
            crossDomain: true
            handle-as="json"
            headers="Access-Control-Allow-Origin: *"
            on-response="resposnseBanxico" 
            on-error="banxicoError">
        </iron-ajax>
    </template>

    <script>
        class apiBanxico extends Polymer.Element {
            static get is() { return 'banxico-view'; }
            static get properties(){
                return {
                    arrayCovid : {type:Array, value: function(){return []}}
                }    
            }
            getIndices(){
                this.$.ajaxBanxico.url = "https://datos.cdmx.gob.mx/api/records/1.0/search/?dataset=personas-hospitalizadas-covid19";
                this.$.ajaxBanxico.generateRequest();
                console.log('Petición enviada');
            }
            
            resposnseBanxico(data){
                // console.log(data.detail.response.records) //data.detail.response.records[0].fields;
                var dataDetail = data.detail.response;
                let arr = [dataDetail.records[0].fields,dataDetail.records[2].fields,dataDetail.records[4].fields,dataDetail.records[6].fields] 
                this.arrayCovid  = arr;

                console.log(this.arrayCovid)
            }
            banxicoError(){

            }
        }

        window.customElements.define(apiBanxico.is, apiBanxico);

    </script>

</dom-module>