<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="indices-colleccion">
        <template>
          
          <template is="dom-repeat" items={{colleccion}} as="reporte">
              <style>
                  :host {
                  display: block;
                } 
                paper-card{
                    display: block;
                    text-align: left ;
                    margin: 2em;
                } 
                paper-card .card-header{
                font-size: 2em;
                color: var(--paper-grey-700)
            }
                paper-button{
                    background-color: var(--dark-primary-color);
                    background-color: var(--paper-pink-a200);
                    color: white !important;
                    margin-left: 0px;
                    margin-top: 1em;
                }
                paper-input {
                  display: block;
                  border: 1px solid #29B6F6;
                  width: 5em;
                }
              </style>
      
            <paper-card heading={{reporte.fecha}}  elevation="1" animated-shadow="false">
              <div class="card-content"> Mes : {{reporte.mes}}  </div>
              <div class="card-content"> Reportes : {{reporte.hospitalizados_totales}}  </div>
              
            </paper-card>
          
          </template>
      
        </template>
      
        <script>
          class MyReports extends Polymer.Element {
            static get is() { return 'indices-colleccion'; }
            static get properties(){
              return {
                colleccion:{type:Array},
                numero: Number,
                error: String
              }
            } 
          }
      
      
          window.customElements.define(MyReports.is, MyReports);
        </script>
      </dom-module>
      


