
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="shared-styles.html">

<dom-module id="moves-collection">
  <template>
    
    <template is="dom-repeat" items={{collection}} as="movimiento">
        <style>
            :host {
            display: block;
          } 
          paper-card{
              display: block;
              text-align: left ;
              margin-top: 1em;
          } 
          paper-card .card-header{
          font-size: 2em;
          color: var(--paper-grey-700)
      }
          paper-button{
              background-color: var(--dark-primary-color);
              background-color: var(--paper-pink-a200);
              color: white !important;
              margin-left: 0px;
              margin-top: 1em;
          }
          paper-input {
            display: block;
            border: 1px solid #29B6F6;
            width: 5em;
          }
        </style>

      <paper-card heading={{movimiento.type}}  elevation="1" animated-shadow="false">
        <div class="card-content"> Importe :    $   {{movimiento.value}} .00 </div>
        <div class="card-content"> Id Movimiento : {{movimiento._id}}  </div>
        <div class="card-content"> Fecha de creación : {{movimiento.date}}  </div>
        <div class="card-actions">
          <paper-button raised on-click="deleteMove" id=[[movimiento._id]]>Eliminar</paper-button>
          <!-- <paper-button raised on-click="editarMove" id=[[movimiento._id]]>Editar</paper-button>
          <paper-input required auto-validate label="Importe $ " type="number" value={{amount}} error-message="Introduce una cantidad válida"></paper-input> -->
        </div>
      </paper-card>
    
    </template>

    <iron-ajax id="ajaxMovesOps" content-type="application/json"  method="post" crossDomain: true handle-as="json"
      headers="Access-Control-Allow-Headers: *" on-response="responseOps" on-error="movesError">
    </iron-ajax>

  </template>

  <script>
    class MyMovements extends Polymer.Element {
      static get is() { return 'moves-collection'; }
      static get properties(){
        return {
          collection:{type:Array},
          numero: Number,
          error: String
        }
      } 
      deleteMove(data){
        var indice = data.model.movimiento._id
        // console.log("ID a eliminar "+indice)
        var urlBase = "http://localhost:3000/movements/delete:"+indice
        var request = new XMLHttpRequest();
        request.open("DELETE",urlBase,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        console.log('Petición enviada');
      }
      responseOps(data){
        console.log("enradnod el eresponse")
        var response = data.detail.response;
        consosle.log(response)
      }
      movesError(error){
        console.log('hubo un error')
        console.log(error)

      }
    }


    window.customElements.define(MyMovements.is, MyMovements);
  </script>
</dom-module>
