<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="shared-styles.html">

<dom-module id="moves-form">
  <template>
    
    <style include="shared-styles iron-flex iron-flex-alignment">
      paper-card {
        display: block;
        text-align: left;
        margin-top: 1em;
        margin-right: 1em;

        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
      }

      paper-card .card-actions {
        padding-top: 0em;
        text-align: right;
      }

      paper-card .card-header {
        font-size: 1em;
        color: var(--paper-grey-700)
      }

      paper-button {
        background-color: var(--paper-green-500);
        /* background-color: var(--dark-primary-color); */
        color: white;
        margin-left: 0px;
        margin-top: 1em;

        height: 2em;

      }
    </style>

    <paper-card elevation="1" heading="Crear/Editar Movimiento" animated-shadow="false">
      <form is="iron-form">
        
        <paper-input required auto-validate label="Tipo de movimiento" type="text" value={{type}}></paper-input>
        <paper-input required auto-validate label="Importe $ " type="number" value={{amount}} error-message="Introduce una cantidad válida"></paper-input>
        <paper-input auto-validate label="ID de movimiento a modificar" type="number" value={{idEdit}}></paper-input>
        <paper-button raised on-tap="createMove" id="createMove"> Añadir movimiento </paper-button>
        <paper-button raised on-tap="editarMove" id="editarMove"> Editar movimiento </paper-button>
      </form>

      <template>
        <div>
          <h3>hola</h3>
        </div>
          otro template
      </template>

      <iron-ajax id="ajaxCreateMove" content-type="application" method="post" crossDomain: true handle-as="json"
        headers="Access-Control-Allow-Headers: *" on-response="responseMoves" on-error="movesError">
      </iron-ajax>

  </template>

  

  <script>
    class MyForm extends Polymer.Element {
      static get is() { return 'moves-form'; }
      static get properties() {
        return {
          Move: Object,
          type: String,
          amount: Number,
          idEdit: {type:Number, value:0},
          error: String
        }
      }
      createMove() {
        this.$.ajaxCreateMove.url = "http://localhost:3000/movements";
        this.$.ajaxCreateMove.headers = { 'Content-Type': 'application/json' };
        var body = { value: this.amount, type: this.type };
        this.$.ajaxCreateMove.body = JSON.stringify(body);
        console.log(this.$.ajaxCreateMove.body)
        this.$.ajaxCreateMove.generateRequest();
      }
      responseMoves(response) {
        console.log(response)
      }
      movesError(error) {
        console.log('Hubo un error');
        alert('Ocurrio un error con el servidor');
        console.log(error);
      }
      editarMove(){
        var indice = this.idEdit;
        var urlBase = "http://localhost:3000/movements/edit:"+indice
        var request = new XMLHttpRequest();
        request.open("PUT",urlBase,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var body = JSON.stringify({ value: this.amount, type: this.type });
        request.send(body);
        console.log('Petición enviada');
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
      


    }


    window.customElements.define(MyForm.is, MyForm);
  </script>
</dom-module>