<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="shared-styles.html">
Access-Control.Allow-Origin : *

<dom-module id="my-accounts">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      } 
    </style>

  <div>
    <h1> Resumen de Cuenta </h1>
  </div>

  <div class="container">
      <div class="row">
        <h1> Opciones</h1>
      </div>

      <div class="row">
        <!-- <button on-click="createAccount" type="button" name="button" class="btn btn-success">Crear Cuenta</button> -->
        <!-- <button on-click="deleteAccount" type="button" name="button">Eiminar Cuenta</button> -->
        <button on-click="getClienteData" type="button" name="button">Datos de Usuario</button>
        <button on-click="getAccountData" type="button" name="button">Datos de Cuenta</button>
      </div>
      
      <div class="row">
          <h3 hidden={{!showAccount}}>Datos de Cuenta</h3>
        <table class="accountTable"  hidden={{!showAccount}}>
            <tr>
              <th>Usuario:    </th>
              <td>[[Account.user]]</td>
            </tr>
            <tr>
              <th>Movimientos:    </th>
              <td>[[Account.movs]]</td>
            </tr>
            <tr>
              <th>Fecha de creación:   </th>
              <td>[[Account.date]]</td>
            </tr>
        </table>
        <h3 hidden={{!showUser}}>Datos de Usuario</h3>
        <table class="userTable"  hidden={{!showUser}}>
            <tr>
              <th>Nombre:     </th>
              <td>[[User.name]]</td>
            </tr>
            <tr>
              <th>Apellido:     </th>
              <td>[[User.surname]]</td>
            </tr>
            <tr>
              <th>Email:    </th>
              <td>[[User.email]]</td>
            </tr>
          </table>
      </div>

      

  </div>

  <iron-ajax
      id="ajaxAccount"
      content-type="application"
      method="get"
      crossDomain: true
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="resposnseAccount"
      on-error="handleUserError">
  </iron-ajax>

  </template>

  <script>
    class MyAccounts extends Polymer.Element {
      static get is() { return 'my-accounts'; }
      static get properties(){
        return{
          Account: Object,
          User: Object,
          showAccount: {type:Boolean, value:false},
          showUser: {type:Boolean, value:false},
          error: String
        }
      }
      createAccount(){
        var url ="http://localhost:3000/cuentas";
        var request = new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var newCuenta={}
        var body = JSON.stringify(newCuenta);
        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
      getAccountData(){
        this.$.ajaxAccount.url = "http://localhost:3000/getCuentas";
        this.$.ajaxAccount.generateRequest();
      }
      resposnseAccount(data){
        var response = data.detail.response;
        console.log(response)
        this.Account = {
          user: response.user,
          date: response.createdAt,
          movs: response.movements.length
        }
        console.log(this.Account)
        this.showAccount = true;
      }
      handleUserError(event) {
              this.error = event.detail.request.xhr.response;
          }
      getClienteData(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/userData",false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.User=JSON.parse(request.responseText);
        console.log(this.User)
        this.showUser = true;
      }
      deleteAccount(){
        console.log('borrando cuenta')
      }
      
    }

    window.customElements.define(MyAccounts.is, MyAccounts);
  </script>
</dom-module>




      
  