<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="moves-form.html">
<link rel="import" href="moves-collection.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
Access-Control.Allow-Origin : *

<dom-module id="my-moves">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
      .iron-flex {
        width: 50%;
        /* background-color: rgb(255, 255, 255); */
        margin-left: 1em;
      }
      paper-button{
              background-color: var(--dark-primary-color);
              color: white;
              margin-left: 1em;
              margin-top: 1em;
              margin-bottom: 1em;
      }
    </style>

    <div>
      <h1> Resumen de Movimientos </h1>
    </div>

    <div class="container">
      <div class="row">
        <paper-button  raised on-tap="getMoves"> Mostrar/Actualizar Movimientos </paper-button> 
        <!-- <button on-click="getMoves" type="button" name="button1">Listar Movimientos</button> -->
      </div>
    </div>

    <div class="layout horizontal">
      <moves-collection class="iron-flex" collection="{{Movements}}"></moves-collection>
      <moves-form class="iron-flex"></moves-form>
    </div>

    <iron-ajax auto id="ajaxMoves" content-type="application" method="get" crossDomain: true handle-as="json"
      headers="Access-Control-Allow-Headers: *" on-response="resposnseMoves" on-error="movesError">
    </iron-ajax>

  </template>

  <script>
    class MyMoves extends Polymer.Element {
      static get is() { return 'my-moves'; }
      static get properties(){
        return {
          Movements: {type:Array, value: function(){return []}}
          // collection:{type:Array, value: function(){return []}}
        }
      }
      getMoves() {
        this.$.ajaxMoves.url = "http://localhost:3000/movements";
        this.$.ajaxMoves.generateRequest();
      }
      resposnseMoves(data) {
        var response = data.detail.response;
        console.log(response)
        this.Movements = response.movements
        console.log(this.Movements)
      }
      editMoves() {

      }
      deleteMoves() {

      }
    }

    window.customElements.define(MyMoves.is, MyMoves);
  </script>
</dom-module>