<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">

Access-Control.Allow-Origin : *

<dom-module id="signup-design">
    <template>
        <style>
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;
                display: block;
                text-align: center;
            }

            paper-card {
                width: 400px;
                height: 440px;
                text-align: left;
                padding: 2em;

            }

            paper-card .card-actions {
                padding-top: 2rem;
                text-align: right;
            }

            paper-card .card-header {
                font-size: 2em;
                color: var(--paper-grey-700)
            }

            paper-card .card-header iron-icon {
                height: 2em;
                width: 2em;
                color: var(--paper-blue-100);
            }

            paper-button[raised] {
                background-color: var(--app-primary-color);
                color: white;
            }

            paper-button {
                color: var(--paper-red-400);
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            /* iconos : https://vaadin.com/directory/component/polymerelementsiron-icons/overview */
        </style>

        <div class="row" hidden$={{registrado}}>
            <div class="card-header">
                <h3>Bienvenido </h3>
            </div>
        </div>

        <paper-card elevation="5" animated-shadow="false" hidden$={{registrado}}>
            <div class="card-header">
                <iron-icon icon="account-circle"></iron-icon>
                Registrate
            </div>

            <form is="iron-form" id="form">
                <div class="card-content">
                    <paper-input label="Nombre" value={{name}} type="text" placeholder=" " required auto-validate
                        error-message="Introuce Nombre"></paper-input>
                    <paper-input label="Apellido" value={{surname}} type="text" required auto-validate
                        error-message="Introuce Apellido"></paper-input>
                    <paper-input label="Email" value={{email}} type="email" required auto-validate
                        error-message="Introuce un correo valido"></paper-input>
                    <paper-input required label="Contraseña" value={{password}} type="password" required auto-validate
                        error-message="Olvidaste la contraseña"></paper-input>
                </div>
                <div class="card-actions">
                    <paper-button raised on-click="signup" id="signup"> SignUp </paper-button>
                    <!-- <paper-button> SignUp </paper-buton> -->
                </div>
            </form>
        </paper-card>

        <div class="row" hidden$="{{!registrado}}">
            <span> Registro exitoso, accede a través de la opción SignIn </span>
        </div>

<!-- handle-as − Specifies what data must be stored in the response property. By default, the data is stored in the json format. -->
<!-- on-response − An attribute which can tell the iron-ajax component by what method the response is handled. -->
        <iron-ajax id="signupUser" content-type="application/json" method="post" dataType: 'jsonp' crossDomain: true
            handle-as="json" headers="Access-Control-Allow-Headers: *" on-response="handleAJAXUserResponse"
            on-error="handleUserError">
        </iron-ajax>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class signupApp extends Polymer.Element {
            static get is() { return 'signup-design'; }
            static get properties() {
                return {
                    name: {
                        type: String
                    },
                    surname:{
                        type:String
                    },
                    email: {
                        type: String,
                    },
                    password: {
                        type: String,
                    },
                    registrado: {
                        type: Boolean,
                        value: false
                    },
                    error: String
                }
            }

            signup(){
                console.log('signup()')
                // url -- An attribute where you place the url to the API endpoint.
                this.$.signupUser.url = "http://localhost:3000/Signup";
                var signupData = {
                    "name": this.name,
                    "surname": this.surname,
                    "email": this.email,
                    "password": this.password
                };
                console.log(signupData)
                this.$.signupUser.body = JSON.stringify(signupData);
                this.$.signupUser.generateRequest();
                console.log('si se genero el request del signup')
            }

            handleAJAXUserResponse(data) {
                this.registrado = true;
                console.log('signup accepted');
                console.log(data.detail.response);
                
            }
            handleUserError(error) {
                
                console.log(error);
                alert('Servicio No Disponible, Intentelo de nuevo mas tarde');
                

            }
        }


        window.customElements.define(signupApp.is, signupApp);
    </script>
</dom-module>